/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 3px 3px 12px 5px #ccc;
  min-height: 500px;
}


.tamplate {
  display: none;
}
